<template>
  <div style="margin-bottom: 60px">
    <b-navbar fixed="top" type="dark" variant="secondary" toggleable="lg" role="navigation" class="navbar navbar-default navbar-fixed-top bg-light-gray">
     <b-navbar-brand href="#">EVALÚA</b-navbar-brand>
     <b-navbar-brand href="https://tesoreria.daupm.es/">TESORERIA</b-navbar-brand>
     <b-navbar-brand href="#">TAQUILLAS</b-navbar-brand>
     <b-navbar-brand href="#">TIENDA</b-navbar-brand>
      <b-navbar-brand href="https://daupm.es" target="_blank">DA-UPM</b-navbar-brand>

     <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

     <b-collapse id="nav-collapse" is-nav>
       <b-navbar-nav>
         <b-nav-item href="#">Link</b-nav-item>
         <b-nav-item href="#" disabled>Disabled</b-nav-item>
       </b-navbar-nav>

       <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-form>
            <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
            <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
          </b-nav-form>

          <b-nav-item-dropdown text="Lang" right>
            <b-dropdown-item href="#">EN</b-dropdown-item>
            <b-dropdown-item href="#">ES</b-dropdown-item>
            <b-dropdown-item href="#">RU</b-dropdown-item>
            <b-dropdown-item href="#">FA</b-dropdown-item>
          </b-nav-item-dropdown>

          <b-nav-item-dropdown v-if="$auth.loggedIn" right>
            <!-- Using 'button-content' slot -->
            <template v-slot:button-content>
              <em>{{ $auth.user.username }}</em>
            </template>
            <b-dropdown-item  href="#">Profile</b-dropdown-item>
            <b-dropdown-item @click="$auth.logout()" href="">Sign Out</b-dropdown-item>
          </b-nav-item-dropdown>
          <template v-else>
            <b-nav-item class="navbar-item" to="/login">Log In</b-nav-item>
          </template>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>

export default {
    name: 'NavBar',
  }
</script>

<style scoped>

</style>
