<template>
        <div class="col">
          <h4 class="py-2">Datos del  docente:</h4>
          <div class="row mb-2">
                <div class="col-3">
                   <b>Email:</b> <i class="">{{professor.email}}</i>
                   <b>Código:</b> <i class="">{{professor.code_id}}</i>
                   <b>Observaciones:</b> <i class="">{{professor.observations}}</i>
                   <b>Puesto:</b> <i class="">{{professor.position}}</i>
                </div>
              </div>
                    <div class="mb-2" >
                  <h4 class="py-2">Partes</h4>
                  <b-list-group>
                    <b-list-group-item class="d-flex justify-content-between align-items-center">
                      Totales:
                      <b-badge variant="primary" pill>14</b-badge>
                    </b-list-group-item>

                    <b-list-group-item class="d-flex justify-content-between align-items-center">
                      Felicitación totales:
                      <b-badge variant="primary" pill>2</b-badge>
                    </b-list-group-item>

                    <b-list-group-item class="d-flex justify-content-between align-items-center">
                      Queja totales:
                      <b-badge variant="primary" pill>1</b-badge>
                    </b-list-group-item>
                    <b-list-group-item class="d-flex justify-content-between align-items-center">
                      Queja curso actual:
                      <b-badge variant="primary" pill>1</b-badge>
                    </b-list-group-item>
                    <b-list-group-item class="d-flex justify-content-between align-items-center">
                      Felicitación curso actual:
                      <b-badge variant="primary" pill>1</b-badge>
                    </b-list-group-item>
                  </b-list-group>
                </div>
          <b-button class="btn-secondary">Buscar en directorio</b-button>

        </div>


</template>

<script>
    export default {
        name: "TeacherProfile",
        props: ['professor']
    }
</script>

<style scoped>

</style>
