<template>
  <b-container fluid class="justify-content-center">
    <b-container class="py-3">
      <b-row class="d-flex justify-content-center">
        <b-col class="col-md-6   text-center">
          <b-card class="card-body bg-light center">
            <b-form  @submit="onSubmit" inline>

              <label class="sr-only" for="inline-form-input-email">Email</label>
              <b-input-group append="@alumnos.upm.es" class="mb-2 mr-sm-2 mb-sm-0">
                <b-input v-model="form.email" id="inline-form-input-username" placeholder="Email"></b-input>
              </b-input-group>
              <b-button class="align-bottom" type="submit" variant="primary">Enviar</b-button>
            </b-form>
          </b-card>
        </b-col>
      </b-row>

    </b-container>
  </b-container>

</template>

<script>
    export default {
        name: "index",
      data() {
        return {
          form: {
            email: '',
          },
          emailAccepted: false,
        }
      },
      methods: {
        onSubmit(evt) {
          evt.preventDefault()
          alert(JSON.stringify(this.form))
          this.postEmail();

        },
        async postEmail() {
          axios.post('http://127.0.0.1:3000/', this.form).then(function (response) {
            console.log(response)
            //currentObj.output = response.data;
            this.emailAccepted = true

          })

        }

    }
    }
</script>

<style scoped>

</style>
