<template>
  <b-container fluid class="justify-content-center py-3 height-full background-style" >
    <b-row class="ml-4">
      <b-col class="col-lg-8   col-md-8 header-color justify-content-around">
        <h1 class="custom-header mt-4 font-weight-bold" >VOTACIÓN DE PROPUESTAS</h1>
        <h2 class="gray ">ELECCIONES A RECTOR</h2>
      </b-col>
      <b-col class="col-lg-4 col-sm-12 align-bottom lg-col-right"> <b-img  src="@/assets/logo-blanco.png" href="https://daupm.es" target="_blank" class="rounded" height="200" alt="Logo"></b-img></b-col>

    </b-row>

    <b-container class="" >



      <b-container class="py-1 rounded vertically-center">
        <b-row class="d-flex  text-color">
          <b-col class="py-3 col-sm-12 col-lg-6">

            <b-list-group class="bg-dark-gray font-weight-bold">
              <b-list-group-item > 1. Introduce tu correo (@alumnos.upm.es). </b-list-group-item>
              <b-list-group-item> 2.  <a href="https://www.upm.es/webmail_alumnos/?" target="_blank">
                Accede a tu correo institucional</a>,
                y verás un correo para participar en la encuesta. A continuación solo tendrás que pinchar en el
                enlace  para acceder a la votación. </b-list-group-item>

              <b-list-group-item > 3. Vota las propuestas que más te gusten y dale a enviar.</b-list-group-item>
              <b-list-group-item > 4. ¡Muchas gracias por ayudarnos a mejorar la universidad!</b-list-group-item>
            </b-list-group>


          </b-col>
          <b-col class="py-3 text-center  col-sm-12 col-lg-6">
            <b-card class="card-body bg-light  py-3 "  >
            <b-row>
              <b-col class="col-12">
                <b-form class="justify-content-center" @submit="onSubmit" inline>

                  <label class="sr-only" for="inline-form-input-email">Email</label>
                  <b-input-group   >
                    <b-input v-model="form.email" id="inline-form-input-username" placeholder="example@alumnos.upm.es"></b-input>
                  </b-input-group>
                  <b-button :disabled="buttonDisable || status === 'not_accepted'"  type="submit" class="m" variant="primary">Enviar</b-button>
                </b-form>
              </b-col>
              <b-col class="col-12 mt-2">
                <b-form-checkbox
                  id="checkbox-1"
                  v-model="status"
                  name="checkbox-1"
                  value="accepted"
                  unchecked-value="not_accepted"
                >
                  Acepto la política de <a   class="blue" v-b-modal.modal-tos  >privacidad y protección de datos</a>
                </b-form-checkbox>
              </b-col>
            </b-row>

            </b-card>

            <b-card class="py-2 mt-2">

             AVISO: ¡El correo puede tardar unos minutos en llegar!

            </b-card>
          </b-col>
        </b-row>


      </b-container>

    </b-container>
    <footer class="mt-3 mb-3 fixed-bottom">
      <b-container>

        <h5>Contacto:</h5>
        <template title="Contacto:" >
          <span ><a class="text-white"  target="_blank" href="https://www.instagram.com/delegacionupm/">Instagram</a></span>
          <span ><a class="text-white" target="_blank" href="https://twitter.com/Delegacion_UPM">Twitter</a></span>
          <span><a class="text-white" target="_blank" href="https://daupm.es/">DA-UPM</a></span>
        </template></b-container>

    </footer>

    <b-modal id="modal-tos" title="RGPD">
      <p class="my-4">
        En cumplimiento del RGPD-2018, del 25 de Mayo de Proteccón de Datos de Carácter Personal (RGPD), Delegación UPM informa de las siguientes consideraciones: Los datos de carácter personal que se faciliten mediante el siguiente formulario serán de uso restringido y en ningún caso serán públicos, cuya finalidad es verificar la autenticidad como estudiante de la UPM. Los datos recabados son imprescindibles para conocer la opinión de los estudiantes de la Delegación de Alumnos de la Universidad Politécnica de Madrid. Al marcar esta casilla, autoriza la cesión de sus datos para los fines indicados. Puede ejercitar sus derechos de acceso, rectificación, cancelación y oposición dirigiéndose mediante comunicación escrita al siguiente correo da@upm.es, dicha comunicación deberá incluir correo institucional (@alumnos.upm.es).
      </p>
    </b-modal>

  </b-container>

</template>

<script>
    import axios from "axios"
    import NavBar from "@/components/NavBar";

    export default {
      name: "inscripcion",
      auth: false,
      head() {
        return {
          title: "Votación propuestas"
        };
      },
      data() {
        return {
          status: false,
          buttonDisable : false,
          message: '¡Inscripción exitosa! \n Comprueba tu email',
          form: {
            email: '',
          },
          emailAccepted: false,
        }
      },
      methods: {

        showMsg(value) {
          this.$bvModal.msgBoxOk(value, {
            title: 'Confirmación',
            size: 'sm',
            buttonSize: 'sm',
            okVariant: 'success',
            headerClass: 'p-2 border-bottom-0',
            footerClass: 'p-2 border-top-0',
            centered: true
          })
            .then(value => {
              this.boxTwo = value
            })
            .catch(err => {
              // An error occurred
            })
        },


        onSubmit(evt) {
          this.buttonDisable = true
          evt.preventDefault()
          this.postEmail().then(value => this.showMsg(value)
        );

        },
        async postEmail() {
            console.log(this.form.email)
          var mess = await  axios.post('https://check.daupm.es/', this.form, {
            headers: {'Content-Type': 'application/json',}
          } ).then(function (response) {
            console.log(response)
            //currentObj.output = response.data;
            return  response.data["error"]

          })
          console.log(mess)
          if (mess !== null ) this.message = mess
          console.log(this.message)
          this.buttonDisable = false
          return this.message
        }

    }
    }
</script>

<style scoped>
.text-color {
  color: #545454;
}


.height-full {
  height: 100%;

}


.header-color {
  color: white;
}
.background-style {
  background: #00509b;
  color: white;
}

.bg-dark {
  background-color: #333;
  color: #fff;
}

@media (min-width: 700px) {
 .height-full {
   height: 100vh;
 }

}


@media(min-width: 1200px) {
  .vertically-center {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
  }

  .hideOverflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
  }
}

</style>
