<template>
   <b-container fluid>
     <NavBar></NavBar>
     <b-container class="py-3">
       <!--<div v-if="!loginStatus && loginStatus != null" class="alert alert-danger" role="alert">
         <p class="m-0" style="overflow: auto; text-after-overflow: ellipsis">
           Login érroneo: {{loginMessage}}
         </p>
       </div>-->
       <h1 class="display-4 text-center">Login</h1>
       <b-row class="d-flex justify-content-center">
         <b-col class="col-md-6  display-3 text-center" >
         <b-form @submit="userLogin">
         <b-form-group id="login-form" class="half-width">
             <b-form-input type="text" v-model="form.username" required placeholder="Usuario: email@upm.es" id="user-input"></b-form-input>
             <b-form-input type="password" v-model="form.password" required placeholder="Contraseña" id="password-input"></b-form-input>
           </b-form-group>
           <b-button class=""  type="submit" variant="primary">Submit</b-button>
         </b-form>
         </b-col>
       </b-row>
     </b-container>
   </b-container>
</template>

<script>
    import NavBar from "../components/NavBar";
    import { mapState, mapActions } from 'vuex';
    const axios = require('axios');

    export default {
        auth: 'guest',
        name: 'login',
        components: {
            NavBar
        },

        data() {
          return {
              form: {
                  username: 'dani',
                  password: 'Dani1233210'
              }
          }
        },

        methods: {

             async userLogin(evt) {
                 evt.preventDefault()

                 try {
                    console.log(this.form)
                    await this.$auth.loginWith('local', { data:
                            {
                                'username': this.form.username,
                                'password': this.form.password
                            } }).catch(function (err) {
                        console.log(err)
                       // this.$toast.error('Failed Logging In', {icon: "error_outline"});

                    });
                     }
                     catch (e) {
                    // this.$toast.error('Username or Password wrong', {icon: "error"});
                 }
                 console.log(this.$auth.user)
                 if (this.$auth.loggedIn) {
                     console.log("redirect")
                     //this.$toast.success('Successfully Logged In', {icon: "done"});
                     this.$router.push({path: '/ManageEvalua'})

                 }

            }
        }

    }
</script>

<style scoped>

</style>
