<template>
  <b-container fluid>
    <NavBar></NavBar>
    <b-container  fluid class="py-4 justify-content-center">
      <h1 class="display-3 text-center">Gestión EVALÚA</h1>
      <b-container fluid class="py-5 justify-content-center text-center">
        <b-button class="btn btn-info mb-2">Crear grupo</b-button>
        <b-button class="btn btn-info mb-2"  >Descargar evaluas</b-button>
        <b-button class="btn btn-info mb-2">Marcar como vistos</b-button>
        <b-button class="btn btn-info mb-2" target="_blank" rel="noopener noreferrer"  href="https://www.upm.es/contacto">Directorio UPM</b-button>
        <b-form v-if="schools.length >1 " @submit="" @reset="">
        <b-form-group  id="input-group-3" label="Selecciona tu centro:">
          <b-form-select id="input-group-3" v-model="form.school" class="mb-3" required>
            <!-- This slot appears above the options from 'options' prop -->
            <template v-slot:first>
              <b-form-select-option :value="null" disabled>-- Please select an option --</b-form-select-option>
            </template>
            <b-form-select-option
              v-for="school in schools"
              :key="school.name"
              :value="school.id"
              @click="getGrades"
            >
              {{ school.name }}
            </b-form-select-option
            >
          </b-form-select>

        </b-form-group>
          <b-form-group id="input-group-4" label="Select your studies:">
            <b-form-select v-model="form.grade" class="mb-3" :disabled="form.school === null" required>
              <!-- This slot appears above the options from 'options' prop -->
              <template v-slot:first>
                <b-form-select-option :value="null" disabled>-- Please select an option --</b-form-select-option>
              </template>
              <b-form-select-option
                v-for="grade in grades"
                :key="grade.name"
                :value="grade.id"
                @click="getSubjects"
              >
                {{ grade.name }}
              </b-form-select-option
              >
            </b-form-select>
          </b-form-group>
          <b-button type="submit" variant="primary">Apply</b-button>
          <b-button type="reset" variant="danger">Reset</b-button>
        </b-form>
      </b-container>
          <b-container fluid class="card card-body bg-light" >
            <!-- User Interface controls -->
            <b-row>
              <b-col lg="6" class="my-1">
                <b-form-group
                  label="Ordenar"
                  label-cols-sm="3"
                  label-align-sm="right"
                  label-size="sm"
                  label-for="sortBySelect"
                  class="mb-0"
                >
                  <b-input-group size="sm">
                    <b-form-select v-model="sortBy" id="sortBySelect" :options="sortOptions" class="w-75">
                      <template v-slot:first>
                        <option value="">-- none --</option>
                      </template>
                    </b-form-select>
                    <b-form-select v-model="sortDesc" size="sm" :disabled="!sortBy" class="w-25">
                      <option :value="false">Asc</option>
                      <option :value="true">Desc</option>
                    </b-form-select>
                  </b-input-group>
                </b-form-group>
              </b-col>

              <b-col lg="6" class="my-1">
                <b-form-group
                  label="Filtrar"
                  label-cols-sm="3"
                  label-align-sm="right"
                  label-size="sm"
                  label-for="filterInput"
                  class="mb-2"
                >
                  <b-input-group size="sm">
                    <b-form-input
                      v-model="filter"
                      type="search"
                      id="filterInput"
                      placeholder="Type to Search"
                    ></b-form-input>
                    <b-input-group-append>
                      <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
                    </b-input-group-append>
                  </b-input-group>
                </b-form-group>
              </b-col>

              <b-col lg="6" bg="6" class="my-1">
                <b-form-group
                  label="Filtrar por"
                  label-cols-sm="3"
                  label-align-sm="right"
                  label-size="sm"
                  description="Leave all unchecked to filter on all data"
                  class="mb-0">
                  <b-form-checkbox-group v-model="filterOn" class="mt-1">
                    <b-form-checkbox value="confirmed">Confirmados</b-form-checkbox>
                  <!--  <b-form-checkbox value="">Sin Resolver</b-form-checkbox>
                    <b-form-checkbox value="isActive">Active</b-form-checkbox>-->
                  </b-form-checkbox-group>
                </b-form-group>
              </b-col>

              <b-col sm="5" md="6" class="my-1">
                <b-form-group
                  label="Por página"
                  label-cols-sm="6"
                  label-cols-md="4"
                  label-cols-lg="3"
                  label-align-sm="right"
                  label-size="sm"
                  label-for="perPageSelect"
                  class="mb-2"
                >
                  <b-form-select
                    v-model="perPage"
                    id="perPageSelect"
                    size="sm"
                    :options="pageOptions"
                  ></b-form-select>
                </b-form-group>
              </b-col>

              <b-col sm="7" md="6" class="my-1">
                <b-pagination
                  v-model="currentPage"
                  :total-rows="totalRows"
                  :per-page="perPage"
                  align="fill"
                  size="sm"
                  class="my-0"
                ></b-pagination>
              </b-col>
            </b-row>

            <!-- Main table element -->
            <b-table

              hover
              bordered
              responsive
              show-empty
              small
              ref="evaluastable"
              :items="evaluas"
              :fields="fields"
              current-page="currentPage"
              :per-page="perPage"
              :filter="filter"
              :filterIncludedFields="filterOn"
              :sort-by.sync="sortBy"
              :sort-desc.sync="sortDesc"
              :sort-direction="sortDirection"
              @filtered="onFiltered"
              class="text-center justify-content-center "
            >
              <template v-slot:cell(professor.name)="row">
                <b-button  size="sm" variant="link"  class="align-content-center" @click="professorInfo(row.item, $event.target)">
                  {{ row.value}}
                </b-button>
              </template>
              <template v-slot:cell(actions)="row">
                <b-button  variant="link" size="sm" @click="row.toggleDetails">
                  <i class="glyphicon glyphicon-pencil"></i>
                </b-button>
              </template>

              <template v-slot:row-details="row">
                <b-card title="Detalles del estudiante" class="mb-2">
                  <b-list-group>
                    <b-list-group-item ><b>Nombre:</b> Perico</b-list-group-item>
                    <b-list-group-item><b>Email:</b> facilisis in</b-list-group-item>
                    <b-list-group-item>Vestibulum at eros</b-list-group-item>
                  </b-list-group>
                </b-card >
                <b-card title="Zona de administración ¡No la lies!">
                  <b-form @submit="" @reset="">
                    <b-form-group  :id="row.code" label="Establece un estado:">
                      <b-form-select :id="row.code" v-model="form.topost" class="mb-3" required>
                        <!-- This slot appears above the options from 'options' prop -->
                        <template v-slot:first>
                          <b-form-select-option :value="null" disabled>-- Please select an option --</b-form-select-option>
                        </template>
                        <b-form-select-option
                          v-for="state in status"
                          :key="state.id"
                          :value="state.name"
                          @click=""
                        >
                          {{ state.name }}
                        </b-form-select-option
                        >
                      </b-form-select>

                    </b-form-group>

                    <b-form-group  :id="row.code" label="Añadir grupo:">
                      <b-form-select :id="row.code" v-model="form.topost" class="mb-3" required>
                        <!-- This slot appears above the options from 'options' prop -->
                        <template v-slot:first>
                          <b-form-select-option :value="null" disabled>-- Please select an option --</b-form-select-option>
                        </template>
                        <b-form-select-option
                          v-for="state in status"
                          :key="state.id"
                          :value="state.name"
                          @click=""
                        >
                          {{ state.name }}
                        </b-form-select-option
                        >
                      </b-form-select>

                    </b-form-group>
                    <b-form-group id="text-area" label="Añade un comentario al evalua:">
                      <b-form-textarea id="text-area"></b-form-textarea>
                    </b-form-group>
                    <b-button type="submit" variant="primary">Apply</b-button>
                    <b-button type="reset" variant="danger">Reset</b-button>
                    <b-button size="sm" @click="row.toggleDetails">Hide Details</b-button>
                  </b-form>
                </b-card>

              </template>
            </b-table>

            <!-- Info modal -->
            <b-modal :id="infoModal.id" :title="infoModal.title" ok-only @hide="resetInfoModal">
              <pre>{{ infoModal.content }}</pre>
            </b-modal>
            <!-- Professor modal -->
            <b-modal :id="professorModal.id" :title="infoModal.professor.name" ok-only @hide="resetInfoModal">
              <TeacherProfile :professor="infoModal.professor"></TeacherProfile>
            </b-modal>
          </b-container>
    </b-container>
  </b-container>
</template>

<script>
    import NavBar from '../components/NavBar'
    import TeacherProfile from "../components/TeacherProfile";
    const axios = require('axios');

    export default {
        authenticated: true,
        name: 'ManageEvalua',
        components: {
            NavBar,
            TeacherProfile
        },
        data(){
            return {
                token: '',
                schools : [],
                isBusy: false,
                form: {
                    name: ""
                },

                status: [
                    {id:'0', name: 'Unseen'},
                    {id:'1', name: 'Seen'},
                    {id:'2', name: 'First Stage'},
                    {id:'3', name: 'Second Stage'},
                    {id:'4', name: 'Third Stage'},
                    {id:'5', name: 'Process Completed'}
                ],
                evaluas: [],
                baseURL: 'http://127.0.0.1:8000/',

                fields: [
                    { key: 'code', label: 'Código', sortable: true, class: 'text-center' },
                    { key: 'timestamp', label: 'Fecha', sortable: true, class: 'desc' },
                    { key: 'professor.name', label: 'Profesor', sortable: true, sortDirection: 'desc' },
                    { key: 'subject.name', label: 'Asignatura', sortable: true, sortDirection: 'desc' },
                    { key: 'category', label: 'Categoria', sortable: true, sortDirection: 'desc',
                        formatter: (value, key, item) => {
                            return value ? 'Queja' : 'Felicitación'

                        }, },
                    { key: 'subject.grade.name', label: 'Grado', sortable: true, class: 'text-center' },
                    { key: 'status', label: 'Estado', sortable: true, class: 'text-center',
                        formatter: (value, key, item ) => {
                            if ( value === '0') return 'No Visto'
                            if ( value === '1') return 'Visto'
                            if ( value === '2') return 'Primer paso'
                            if ( value === '4') return 'Segundo  paso'
                            if ( value === '4') return 'Tercer  paso'
                            if ( value === '5') return 'Proceso completado'
                        },
                    },
                    { key: 'confirmed', label: 'Confirmado',
                        formatter: (value, key, item) => {
                            return value ? 'Si' : 'No'
                        },
                        sortable: true,
                        sortByFormatted: true,
                        filterByFormatted: true
                    },
                    {
                        key: 'isActive',
                        label: 'Activo',
                        formatter: (value, key, item) => {
                            return value ? 'Yes' : 'No'
                        },
                        sortable: true,
                        sortByFormatted: true,
                        filterByFormatted: true
                    },
                    { key: 'actions', label: 'Actions' }
                ],
                totalRows: 1,
                currentPage: 1,
                perPage: 5,
                pageOptions: [5, 10, 15,30, 50, 60, 80, 100, 200, 500, 1000],
                sortBy: '',
                sortDesc: false,
                sortDirection: 'asc',
                filter: null,
                filterOn: [],
                infoModal: {
                    id: 'info-modal',
                    title: '',
                    content: '',
                    professor: {}
                },
                professorModal: {
                    id: 'professor-modal',
                    professor: {
                        "id": 1,
                        "name": "asda",
                        "code_id": "asd",
                        "email": "mail@upm.es",
                        "observations": "dasd",
                        "position": "ads"
                    },
                    grade: {
                        "id": 1,
                        "code": "codigo",
                        "name": "asd",
                        "school": 1
                    },
                }
            };
        },

        watch: {
            currentPage () {
                this.getEvaluas();
            },
            perPage () {
                this.getEvaluas();
            }
        },
        created() {
            this.token = this.$auth.getToken('local')
            this.getEvaluas();
        },


        computed: {
            sortOptions() {
                // Create an options list from our fields
                return this.fields
                    .filter(f => f.sortable)
                    .map(f => {
                        return { text: f.label, value: f.key }
                    })
            },

            optbaseURL: {
                get() {
                    return this.$store.state.host; },
                set(value) {
                    this.$store.commit('host', value)
                }
            },
        },
        mounted() {
            // Set the initial number of items
            this.totalRows = this.evaluas.length
            },

        methods: {
            getEvaluas() {
                //console.log(this.$state.baseURL)
                const header = 'Authorization: Bearer' + this.token ;
                const requrl =  this.baseURL+'evalua/filter/';
                axios.get('http://127.0.0.1:8000/evalua/filter/?limit='.concat(this.perPage).concat('&offset=').
                    concat(this.perPage*(this.currentPage-1)),
                    {headers: {
                            Authorization: this.token
                    }}).catch(err => {
                    console.log(err)
                }).then(resp => {
                    this.evaluas = resp.data.results;
                    this.totalRows =  resp.data.count;
                    this.$root.$emit('bv::refresh::table', 'evaluastable');
                    }
                )
            },
            info(item, index, button) {
                this.infoModal.title = `Row index: ${index}`
                this.infoModal.content = JSON.stringify(item, null, 2)
                this.$root.$emit('bv::show::modal', this.infoModal.id, button)
            },

            professorInfo(item, button) {
                this.infoModal.title = `Nombre del docente: ${item.professor.name}`;
                this.infoModal.professor = item.professor;
                this.$root.$emit('bv::show::modal', this.professorModal.id, button)
            },
            resetInfoModal() {
                this.infoModal.id = 0;
                this.infoModal.title = '';
                this.infoModal.content = '';
            },
            onFiltered(filteredItems) {
                // Trigger pagination to update the number of buttons/pages due to filtering
                this.totalRows = filteredItems.length
                this.currentPage = 1
            }
        }
    }
</script>

<style scoped>

</style>
