<template>
  <b-container fluid class="custom-container">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">
        <img src="@/assets/logo-cdo-gold-transparent.png" width="30" height="30"
             alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#main-slider"><i
              class="fa fa-home"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#how-it-works">¿Como funcionan los
              premios?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#vote">¡Quiero votar!</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contacto</a>
          </li>
        </ul>
      </div>
    </nav>

    <section id="main-slider" class="carousel"  style="padding-top: 100px; padding-bottom: 100px">
      <div class="carousel-inner">
        <div class="item active">
          <div class="container">
            <div class="carousel-content">
              <h1 style="color: #434343">Premios Código de Oro
                DA-ETSISI</h1>
              <br>
              <br>
              <p style="color: #434343; font-size: 35px" class="lead">
                ¡Vota a <span style="color: #00509B">tus profesores y profesoras favoritas</span>!
              </p>
            </div>
          </div>
        </div><!--/.item-->
      </div><!--/.carousel-inner-->
      <a id="process"></a>
    </section><!--/#main-slider-->

    <section>
      <div class="container">
        <!--<div class="box first">-->
        <br>
        <div id="timeline" class="row">
          <img style="width: 100%; height: 50%;" src="@/assets/timeline.png">
        </div>
        <a id="how-it-works"></a>
        <br>
        <br>
        <br>
        <br>
        <!--</div>-->
      </div>
    </section>

    <section id="how-it-works">
      <b-container class=" bg-white  justify-content-center">
        <div class="box first">
          <div class="row">
            <h1 class="display-4" style="margin-top: 0">¿Como funcionan
              los premios?</h1>
            <div class="container" style="margin: 10px">
              <div class="row">
                <p style="text-align: justify">Desde la Delegación de
                  Alumnos de la ETSISI os presentamos la <b>I Edición
                    de los Premios Código de Oro</b>, a través de
                  los cuales tú y tus compañeros y compañeras podréis
                  votar a los y las profesoras que más os gusten, para
                  que sean nombrados mejores profesores de la
                  titulación o de la escuela. Puedes ver las bases
                  completas de los premios en <a
                    href="/assets/premios-codigo-de-oro-daetsisi-bases.pdf"
                    target="_blank">este enlace</a>.</p>
              </div>
              <div class="row">
                <p style="text-align: justify">Además, y solamente por
                  participar, entrarás en el <b>sorteo de una
                    Raspberry Pi 3B+</b>, cuyo ganador se conocerá
                  en el acto de entrega de premios. La
                  fecha y hora exacta del acto la anunciaremos en esta
                  web y en nuestras plataformas habituales (<a
                    href="https://dalumetsisi.es"
                    target="_blank">dalumetsisi.es</a> y <a
                    href="#contact">nuestras RRSS</a>).</p>
              </div>
              <div class="row">
                <p style="text-align: justify">Si tienes cualquier
                  pregunta, no dudes en contactar con nosotros: <a
                    href="https://dalumetsisi.es/contacto"
                    target="_blank">dalumetsisi.es/contacto</a>.
                </p>
              </div>
            </div>
          </div>
        </div>
      </b-container>
    </section>

    <section id="vote">
      <b-container class="bg-white">
        <div class="box first">
          <h1 class="page-header">Vota a tus profesores/as favoritos/as</h1>



            <b-form @submit="onSubmit" @reset="onReset">
              <b-form-group
                id="input-group-1"
                label="Email address:"
                label-for="input-1"
                description="We'll never share your email with anyone else."
              >
                <b-form-input
                  id="input-1"
                  v-model="form.email"
                  type="email"
                  required
                  placeholder="@alumnos.upm.es"
                ></b-form-input>
              </b-form-group>
              <b-row class="col-12 justify-content-center">
            <b-form-group  id="input-group-3">
                <b-col ><b-form-select v-model="form.professor" class="mb-3" >
                  <!-- This slot appears above the options from 'options' prop -->
                  <template v-slot:first>
                    <b-form-select-option :value="null" disabled
                    >-- Please select an option --</b-form-select-option
                    >
                  </template>
                  <b-form-select-option
                    v-for="professor in professors"
                    :key="professor.id"
                    :value="professor.name"
                  >
                    {{ professor.name }}
                  </b-form-select-option
                  >
                </b-form-select>
                </b-col>
            </b-form-group>
              </b-row>
            </b-form>
            <div class="container" style="margin: 10px">
              <div class="d-flex justify-content-center">

                <div class="mb-1">
                  <b-button v-if="isVoteActive" @click="showMsgBoxTwo">Enviar votación</b-button>
                  <p v-else style="font-size: 13pt"><b>El periodo de votaciones
                    ha finalizado. ¡Muchas gracias por
                    participar!</b>
                  </p>
                </div>
              </div>
            </div>

          </div>
      </b-container>
    </section>

    <section id="contact">
      <b-container class="bg-secondary ">
        <div class="box last">
          <div class="row">
            <div class="col-sm-6">
              <h1 class="white">Contacto</h1>
              <div class="row b-custom-color font-weight-bold ">
                <div class="col-md-10">
                  <address>
                    <b>Delegación de Alumnos ETSIAAB</b><br>
                    <b>Universidad Politécnica de Madrid</b><br>
                    <b>Teléfono: </b>91 067 07 19<br>
                    <b>Email: </b><a class="text-white" href="mailto:delegacion.etsiaab@upm.es" target="_blank">delegacion.etsiaab@upm.es</a><br>
                    <b>Web: </b><a class="text-white" href="https://daetsiaab.es" target="_blank">daetsiaab.es</a><br>
                  </address>
                </div>
              </div>
            </div><!--/.col-sm-6-->
            <div class="col-sm-6">
              <h1 class="white">¡Conoce nuestras RRSS!</h1>
              <ul class="social">
                <li><a href="https://twitter.com/DAETSIAAB_UPM" target="_blank"><i class="fa fa-twitter icon-social"></i>
                  Twitter</a></li>
              </ul>
              <ul class="social">
                <li>
                  <a href="https://www.instagram.com/delegacion_etsiaab/" target="_blank"><i class="fa fa-instagram icon-social"></i>
                    Instagram</a></li>
              </ul>
            </div><!--/.col-sm-6-->
          </div><!--/.row-->
        </div><!--/.box-->
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
          <a  class="text-white" href="https://daupm.es/">DA-UPM</a>
        </div>
        <!-- Copyright -->
      </b-container>

    </section><!--/#contact-->

    <!-- Footer -->

  </b-container>
</template>

<script>
export default {
  auth: false,
  name: 'index.vue',
  data() {
    return {
      isVoteActive: true,
      maxVotes: 3,
      form: [
        {professor: []}
        ],
      boxTwo: ''
    }
  },
  methods: {
    showMsgBoxTwo() {
      this.boxTwo = ''
      this.$bvModal.msgBoxOk('Data was submitted successfully', {
        title: 'Confirmation',
        size: 'sm',
        buttonSize: 'sm',
        okVariant: 'success',
        headerClass: 'p-2 border-bottom-0',
        footerClass: 'p-2 border-top-0',
        centered: true
      }).then(value => {
          this.boxTwo = value
        })
        .catch(err => {
          // An error occurred
        })
    },
    onSubmit(evt) {
      evt.preventDefault()
      alert(JSON.stringify(this.form))
      this.createdEvalua = true
      this.createEvalua();
    },
    onReset(evt) {
      evt.preventDefault()
      // Reset our form values
      this.form.email = ''
      this.form.name = ''
      this.form.food = null
      this.form.checked = []
      // Trick to reset/clear native browser form validation state
      this.show = false
      this.$nextTick(() => {
        this.show = true
      })
    }
  }
}
</script>

<style scoped>

.custom-container {
  background: #999;
}

.b-custom-color {
  color: #EFB810;
}
</style>
