<template>
<b-container fluid="">
  <nav class="navbar navbar-transparent navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="images/flags/US.png"/>
              English(US)
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#"><img src="images/flags/DE.png"/> Deutsch</a></li>
              <li><a href="#"><img src="images/flags/GB.png"/> English(UK)</a></li>
              <li><a href="#"><img src="images/flags/FR.png"/> Français</a></li>
              <li><a href="#"><img src="images/flags/RO.png"/> Română</a></li>
              <li><a href="#"><img src="images/flags/IT.png"/> Italiano</a></li>

              <li class="divider"></li>
              <li><a href="#"><img src="images/flags/ES.png"/> Español <span class="label label-default">soon</span></a></li>
              <li><a href="#"><img src="images/flags/BR.png"/> Português <span class="label label-default">soon</span></a></li>
              <li><a href="#"><img src="images/flags/JP.png"/> 日本語 <span class="label label-default">soon</span></a></li>
              <li><a href="#"><img src="images/flags/TR.png"/> Türkçe <span class="label label-default">soon</span></a></li>

            </ul>
          </li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#">
              <i class="fa fa-facebook-square"></i>
              Like
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-pinterest"></i>
              Pin
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-dollar"></i>
              Donate
            </a>
          </li>
        </ul>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>
  <div class="main" style="background-image: url('images/rick.jpg')">

    <!--    Change the image source 'images/rick.jpg' with your favourite image.     -->

    <div class="cover black" data-color="black"></div>

    <!--   You can change the black color for the filter with those colors: blue, green, red, orange       -->

    <div class="container">
      <h1 class="logo cursive">
        Cream.app
      </h1>
      <!--  H1 can have 2 designs: "logo" and "logo cursive"           -->

      <div class="content">
        <h4 class="motto">Cash Rules Everything Around Me. Find the best rap & hip hop music.</h4>
        <div class="subscribe">
          <h5 class="info-text">
            Join the waiting list for the beta. We keep you posted.
          </h5>
          <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm6-6 col-sm-offset-3 ">
              <form class="form-inline" role="form">
                <div class="form-group">
                  <label class="sr-only" for="exampleInputEmail2">Email address</label>
                  <input type="email" class="form-control transparent" placeholder="Your email here...">
                </div>
                <button type="submit" class="btn btn-info btn-fill">Notify Me</button>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        Made with <i class="fa fa-heart heart"></i> by <a href="https://www.creative-tim.com">Creative Tim</a>. Free download <a href="https://www.creative-tim.com/product/coming-sssoon-page">here.</a>
      </div>
    </div>
  </div>

  <div class="fixed-plugin">
    <div class="dropdown open">
      <a href="#" data-toggle="dropdown">
        <i class="fa fa-cog fa-2x"> </i>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a id="filterControl">
            <span class="badge badge-black active" data-color="black"></span>
            <span class="badge badge-blue" data-color="blue"></span>
            <span class="badge badge-green" data-color="green"></span>
            <span class="badge badge-orange" data-color="orange"></span>
            <span class="badge badge-red" data-color="red"></span>
            Filter Color
          </a>
        </li>
        <li>
          <a href="demo-image-background.html">
            <img src="images/thumb_image.png">
            Image Background
          </a>
        </li>
        <li>
          <a href="demo-video-background.html">
            <img src="images/thumb_video.png">
            Video Background
          </a>
        </li>
        <li class="active">
          <a href="demo-cream-app.html">
            <img src="images/thumb_application.png">
            Application Page
          </a>
        </li>
        <li >
          <a href="demo-restaurant.html">
            <img src="images/thumb_restaurant.png">
            Restaurant Page
          </a>
        </li>
        <li class="header text-center">
          <h5>Free Download</h5>
        </li>
        <li>
          <a href="https://www.creative-tim.com/product/coming-sssoon-page" class="btn btn-warning btn-fill"><i class="fa fa-html5"></i> HTML Template</a>
        </li>
        <li><a></a></li>
      </ul>
    </div>
  </div>
</b-container>
</template>

<script>
export default {
  auth: false,
name: "inscripcion"
}
</script>

<style scoped>

</style>
